
<h1 class ="title">Scribbl</h1>
<h2><%= blog.title %></h2>

<p><%= blog.body %></p>

<a href="/<%= blog.id %>/edit">edit</a>


<form action="/<%= blog.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form> 


